<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Bear</key>
	<dict>
		<key>img</key>
		<string>Bear.png</string>
		<key>cName</key>
		<string>熊</string>
		<key>eName</key>
		<string>Bear</string>
	</dict>
	<key>Crab</key>
	<dict>
		<key>img</key>
		<string>Crab.png</string>
		<key>cName</key>
		<string>螃蟹</string>
		<key>eName</key>
		<string>Crab</string>
	</dict>
	<key>Crocodile</key>
	<dict>
		<key>img</key>
		<string>Crocodile.png</string>
		<key>cName</key>
		<string>鳄鱼</string>
		<key>eName</key>
		<string>Crocodile.png</string>
	</dict>
	<key>Dog</key>
	<dict>
		<key>img</key>
		<string>Dog.png</string>
		<key>cName</key>
		<string>狗</string>
		<key>eName</key>
		<string>Dog</string>
	</dict>
	<key>Duck</key>
	<dict>
		<key>img</key>
		<string>Dog</string>
		<key>cName</key>
		<string>鸭子</string>
		<key>eName</key>
		<string>Duck</string>
	</dict>
	<key>Elephant</key>
	<dict>
		<key>img</key>
		<string>Elephant.png</string>
		<key>cName</key>
		<string>大象</string>
		<key>eName</key>
		<string>Elephant.png</string>
	</dict>
	<key>Zebra</key>
	<dict>
		<key>img</key>
		<string>Zebra.png</string>
		<key>cName</key>
		<string>斑马</string>
		<key>eName</key>
		<string>Zebra</string>
	</dict>
</dict>
</plist>
